doctype html
html
  head
    title Prakash Dance Academy
    block scripts
    block style 
  body  
    nav#navbar 
        ul 
           div#logo
              img(src="/static/logo.jpg") 
              | PDA 
           li #[a(href="/") Home]
           li #[a(href="/") About]
           li #[a(href="/") Services]
           li #[a(href="/") Class Info]
           li #[a(href="/contact") Contacts] 
             
    block content
    footer#footer 
        | Copyright © 2024 PrakashDanceAcademy.com | All Rights Reserved 
